{% extends "TheApp/base.html" %}
{% load static %}
{% block content %}

{% if thelist %}
<div class="container" style = "padding-bottom: 130px; margin:auto;">
  {% for post in thelist %} <!--#הדיפולט אם לא הגדרנו משהו אחר בListView-->

  <div class="post">
    <h1><a href="{% url 'TheApp:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <div class="date">
      <p>Published on: {{post.published|date:"D M Y"}}</p>

    </div>
    <a href="{% url 'TheApp:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
  </div>

  {% endfor %}
</div>

{% else %}
<h2>No Posts Created</h2>


{% endif %}
{% endblock %}
